rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Gli utenti possono leggere i dati degli altri utenti, ma modificare solo i propri
    match /users/{userId} {
      allow read: if request.auth != null;
      // L'utente può aggiornare un documento se il suo UID corrisponde al `userId` del documento
      // O se la sua email corrisponde al `userId` del documento (che è l'email)
      allow update: if request.auth != null &&
                      (request.auth.uid == userId || request.auth.token.email == userId);
      allow delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Chiunque sia autenticato può leggere i messaggi
    match /messages/{messageId} {
      allow read, write: if request.auth != null;
    }

    // Regole per i post
    match /posts/{postId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.author.email == request.auth.token.email;
      allow update, delete: if request.auth != null && resource.data.author.email == request.auth.token.email;
    }
  }
}
